<header class="d-flex-column d-sm-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex justify-content-center align-items-center mb-md-0 me-sm-auto link-body-emphasis text-decoration-none">
    <span class="fs-4">@robrightmyer</span>
  </a>

  <ul class="nav justify-content-center">
    <li><a href="/" class="nav-link px-2 link-secondary">About</a></li>
    <li><a href="/resume" class="nav-link px-2 link-secondary fw-bold">Resume</a></li>
  </ul>
</header>
